/* CSS Document */
.footer{
float: left;
}

.box{
	
     width: 1100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;

}
.bktomenu{
    display: block;
    text-align: left;
    opacity: 0.5;
    text-decoration: underline;	
	margin: 10px 10px;
	margin-bottom: 30px;
	
}
.left{
	width:50%;
	float: left;

}
.img{
	width: 100%
}
.right{
	
 
    width: 50%;
    float: left;
 
}
.pdname{
	text-align: left;
	margin-left: 25px;
	margin-bottom: 40px;
	font-size: 25px;
}
.price{
	text-align: left;
	margin-left: 25px;
	margin-bottom: 40px;
	font-size: 20px;
}
.numbertxt{
	margin-left: 25px;
	float: left;
	text-align: left;
}
.number{
	font-size: 20px;
    float: left;
    width: 40px;
	height: 30px;
    position: relative;
    top: -6px;
    left: 5px;
    border-radius: 4px 4px 4px 4px;
	border-color: #739EFF;
	
}
.addtcart{
    margin-left: 15%;
    width: 70%;
    border: 1px solid #FFABAC;
    margin-top: 150px;
    transition: all 0.1s linear;
    border-radius: 15px;
	padding: 5px 0px;
	color: aliceblue;
	background-color: #FF3337;
}
.addtcart:hover{
    background-color: gainsboro;
}

.buynow:hover{
	opacity: 1;
}
.detailstxt{
	margin-top: 100px;
	font-size: 20px;
}
.details{
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
.maybebox{
 
    width: 100%;
    clear: left;
	
}
.maybetxt{
	padding-top: 100px;
	font-size: 25px;
}
.maybecolumn {
display:block;
  float: left;
  width: 25%;
  margin: 5px 0px;
  padding: 5px 0px;
}
.maybecard {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.maybeimg{
	width: 100%;	
}
.maybecontainer{
margin: auto;
padding: auto;
width: 80%;	
}
.maybecontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.maybetitle{
	text-align: center;
}
.maybemenupice{
	display: block;
	font-size: 20px;
}





@media screen and (max-width: 1200px) {

.box{
	width: 980px;
}
}
@media screen and (max-width: 1000px) {

.box{
	width: 780px;
}
.pdname{
	margin-bottom: 20px;
}
.price{
	margin-bottom: 20px;
}
.addtcart{
    margin-top: 80px;
}

.detailstxt{
	margin-top: 50px;
}
.maybetitle{
		font-size: 20px;
	}
}
@media screen and (max-width: 780px) {
.title{
	font-size: 15px;
	text-align: center;
}
.menupice{
	display: inline;
	float: left;
	font-size: 10px
}
.button{
	float: right;
	font-size: 15px;
	position: relative;
	top:4px;
	background-color: hotpink;
	border-radius: 50%;
	padding: 5px;
}
	.containericon {
		display:block;
	}
	
	.home{
		display: none;
	}
	.box{
	width: 100%;
}
.left{
	
	width:100%;
	float: left;
}
.right{
	
    background-color: white;
    height: 500px;
    width: 100%;
    float: left;
}
.maybetxt{
padding-top: 0px;

}
.maybecolumn {
  width: 50%;
}
.maybecard {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}
	.maybetitle{
		font-size: 15px;
	}

}
@media screen and (min-width: 780px) {
	.dropdown-content{
		display: none;
	}


}
